<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Theta-G</title>
    <meta name="description" content="Creative Agency">

    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/favicon.ico">

    <link rel="stylesheet" type="text/css" href="/assets/css/screen.css?v=ebd7fc010f">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Merriweather:300,700,700italic,300italic|Open+Sans:700,400">
    <link rel="shortcut icon" href="/assets/img/Microsoft_favicon-2.1.ico"> <!--TG added line -->

    <link rel="canonical" href="http://ldev.theta-g.com/">
    
    <meta property="og:site_name" content="Theta-G">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Theta-G">
    <meta property="og:description" content="Creative Agency">
    <meta property="og:url" content="http://ldev.theta-g.com/">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Theta-G">
    <meta name="twitter:description" content="Creative Agency">
    <meta name="twitter:url" content="http://ldev.theta-g.com/">
    
    <script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Website",
    "publisher": "Theta-G",
    "url": "http://ldev.theta-g.com/",
    "description": "Creative Agency"
}
    </script>

    <meta name="generator" content="Ghost 0.6">
    <link rel="alternate" type="application/rss+xml" title="Theta-G" href="http://ldev.theta-g.com/rss/">
<style id="fit-vids-style">.fluid-width-video-wrapper{width:100%;position:relative;padding:0;}.fluid-width-video-wrapper iframe,.fluid-width-video-wrapper object,.fluid-width-video-wrapper embed {position:absolute;top:0;left:0;width:100%;height:100%;}</style></head>
<body class="error-template">
    <div class="site-wrapper">
        <div class="site-layout">
            <div class="content" id="main" role="main">
                <!--
                <h1>Error code 404: Not Found</h1>
                <p>Oops, something has been moved or possibly you've got a bad address there.</p>
                <p>This site serves pictures and such to <a href="http://theta-g.com/" target="_blank">Theta-G</a> and friends.</p>
                -->
                <article id="palette" class="clearfix">
                <ul>
                    <li><span class="base-lightest"></span> $base-lightest</li>
                    <li><span class="base-lighter"></span> $base-lighter</li>
                    <li><span class="base-light"></span> $base-light</li>
                    <li><span class="base-medium"></span> $base-medium</li>
                    <li><span class="base-dark"></span> $base-dark</li>
                    <li><span class="base-darker"></span> $base-darker</li>
                    <li><span class="base-darkest"></span> $base-darkest</li>
                </ul>
                <ul>
                    <li><span class="base-min"></span> $base-min</li>
                    <li><span class="base-max"></span> $base-max</li>
                    <li>&nbsp;</li>
                    <li><span class="stop-light"></span> $stop-light</li>
                    <li><span class="stop-medium"></span> $stop-medium</li>
                    <li><span class="stop-dark"></span> $stop-dark</li>
                    <li><span class="stop-tint"></span> $stop-tint</li>
                </ul>
                <ul>
                    <li><span class="base-tint"></span> $base-tint</li>
                    <li><span class="base-tint-dark"></span> $base-tint-dark</li>
                    <li>&nbsp;</li>
                    <li><span class="wait-light"></span> $wait-light</li>
                    <li><span class="wait-medium"></span> $wait-medium</li>
                    <li><span class="wait-dark"></span> $wait-dark</li>
                    <li><span class="wait-tint"></span> $wait-tint</li>
                </ul>
                <ul>
                    <li><span class="fg-color"></span> $fg-color</li>
                    <li><span class="bg-color"></span> $bg-color</li>
                    <li>&nbsp;</li>
                    <li><span class="go-light"></span> $go-light</li>
                    <li><span class="go-medium"></span> $go-medium</li>
                    <li><span class="go-dark"></span> $go-dark</li>
                    <li><span class="go-tint"></span> $go-tint</li>
                </ul>
                <ul>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li><span class="header-bg"></span> $header-bg</li>
                    <li><span class="header-fg"></span> $header-fg</li>
                    <li><span class="header-accent"></span> $header-accent</li>
                    <li><span class="header-alt"></span> $header-alt</li>
                </ul>
                <ul>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                    <li><span class="footer-bg"></span> $footer-bg</li>
                    <li><span class="footer-fg"></span> $footer-fg</li>
                    <li><span class="footer-accent"></span> $footer-accent</li>
                    <li><span class="footer-alt"></span> $footer-alt</li>
                </ul>
                <ul>
                    <li><span class="accent-lightest"></span> $accent-lightest</li>
                    <li><span class="accent-lighter"></span> $accent-lighter</li>
                    <li><span class="accent-light"></span> $accent-light</li>
                    <li><span class="accent-medium"></span> $accent-medium</li>
                    <li><span class="accent-dark"></span> $accent-dark</li>
                    <li><span class="accent-darker"></span> $accent-darker</li>
                    <li><span class="accent-darkest"></span> $accent-darkest</li>
                </ul>
                <ul>
                    <li><span class="pop-lightest"></span> $pop-lightest</li>
                    <li><span class="pop-lighter"></span> $pop-lighter</li>
                    <li><span class="pop-light"></span> $pop-light</li>
                    <li><span class="pop-medium"></span> $pop-medium</li>
                    <li><span class="pop-dark"></span> $pop-dark</li>
                    <li><span class="pop-darker"></span> $pop-darker</li>
                    <li><span class="pop-darkest"></span> $pop-darkest</li>
                </ul>
                <ul>
                    <li><span class="alt-lightest"></span> $alt-lightest</li>
                    <li><span class="alt-lighter"></span> $alt-lighter</li>
                    <li><span class="alt-light"></span> $alt-light</li>
                    <li><span class="alt-medium"></span> $alt-medium</li>
                    <li><span class="alt-dark"></span> $alt-dark</li>
                    <li><span class="alt-darker"></span> $alt-darker</li>
                    <li><span class="alt-darkest"></span> $alt-darkest</li>
                </ul>
                 <ul>
                    <li class="icon-theta-g"><span></span> .icon-theta-g</li>
                    <li class="icon-diamond-bullet"><span></span> .icon-diamond-bullet</li>
                    <li class="icon-paper-plane"><span></span> .icon-paper-plane</li>
                    <li class="icon-trimphone"><span></span> .icon-trimphone</li>
                    <li class="icon-twitter-bird"><span></span> .icon-twitter-bird</li>
                    <li class="icon-postage-stamp"><span></span> .icon-postage-stamp</li>
                    <li class="icon-menu-lines"><span></span> .icon-menu-lines</li>
                </ul>
                 <ul>
                    <li class="icon-close-x"><span></span> .icon-close-x</li>
                    <li class="icon-previous-arrow"><span></span> .icon-previous-arrow</li>
                    <li class="icon-next-arrow"><span></span> .icon-next-arrow</li>
                    <li class="icon-ghost"><span></span> .icon-ghost</li>
                    <li class="icon-feed"><span></span> .icon-feed</li>
                    <li class="icon-twitter"><span></span> .icon-twitter</li>
                    <li class="icon-google-plus"><span></span> .icon-google-plus</li>
                </ul>
                 <ul>
                    <li class="icon-facebook"><span></span> .icon-facebook</li>
                    <li class="icon-arrow-left"><span></span> .icon-arrow-left</li>
                    <li class="icon-stats"><span></span> .icon-stats</li>
                    <li class="icon-location"><span></span> .icon-location</li>
                    <li class="icon-link"><span></span> .icon-link</li>
                    <li>&nbsp;</li>
                    <li>&nbsp;</li>
                </ul>
                 <ul>


                </ul>
               </article>
            </div>
        </div>
    </div>
</body></html>