<h3>{{@blog.description}}</h3>
<p>dev<span class="hidden"> are the three letters before
the </span>@<span class="hidden"> and the email address concludes
with the domain name </span>theta-g.com</p>
<p>London
<span class="hidden">telephone, beginning with the 2-number mobile
prefix</span>07<span class="hidden">
and followed by the 9 digits </span>508 190679</p>
<p><a href="https://twitter.com/PeterTheta" class="icon-twitter-bird"></a></p>
<p><a href="/about" class="icon-theta-g"></a></p>
